@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Russo+One&display=swap');
.hero-banner {
  background-image: url(/assets/img/Banner.webp);
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}

.hero-banner > h2 {
    font-family: "Josefin Sans", serif;
    font-weight: 700;
    font-style: normal;
    color: white;
}

.first-section {
  background-color: rgba(255, 255, 255, 0.95);
  font-weight: 700;
  color: #333;
}

.second-section {
  background-color: #6482ad;
}

.second-section h2 {
color: white;
}

.second-section ul {
  font-weight: 700;
  color: whitesmoke;
}
nav ol {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  
  .hero-banner > ol > li {
    margin-right: 10px;
  }

  ul li {
  list-style: none; /* Removes bullet points */
  padding: 0; /* Removes default padding */
  margin: 0; /* Removes default margin */
  text-align: center;
  }
  
  nav ol li a {
    font-family: "Russo One", serif;
  font-weight: 400;
  font-style: normal;
    text-decoration: none;
    color: rgb(151, 145, 145);
  }
  
  nav ol li::after {
    content: '/';
    margin-left: 10px;
  }
  
  nav ol li:last-child::after {
    content: ''; /* Remove the arrow from the last breadcrumb */
  }

  .third-section {
    border-bottom: solid 2px #333;
  }

@media (min-width: 768px) {

  .hero-banner {
    padding: 100px;
  }

  .hero-banner > h2 {
    font-size: 40px;
  }

  .hero-banner nav {
    position: absolute;
    top: 375px;
    right: 133px;/* Adjust spacing from the right */
  }

  .first-section {
    display: flex;
    flex-direction: row;
    padding: 100px;
    justify-content: space-evenly;
  }

  .first-section p {
    font-size: 18px;
    padding: 0px 100px;
    line-height: 40px;
  }

  .first-section img {
    height: 275px;
  }

  .second-section {
    padding: 50px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .second-section ul li {
    text-align: left;
    font-size: 25px;
  }

  .second-section img {
    height: 500px;
  }

  .second-section h2 {
    text-align: center;
    font-size: 30px;
  }

  .third-section {
    text-align: center;
    line-height: 50px;
    padding: 50px 200px;
    background-color: rgba(255, 255, 255, 0.95);
    font-weight: 700;
    color: #333;
  }
}

@media (max-width: 768px) {
  .hero-banner {
    padding: 30px ;
    text-align: center;
  }

  nav ol {
    justify-content: center;
    font-size: small;
  } 

  .first-section {
    display: flex;
    flex-direction: column;
  }

  .first-section p {
    padding: 50px 40px;
    line-height: 30px;
    text-align: center;
    margin: 0;
  }

 .first-section img {
    padding: 50px 50px;
    height: 170px;
  }

  .second-section {
    padding: 20px 80px;
  }

  .second-section img {
    height: 200px;
    border-radius: 10px;
  }

  .image-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .second-section ul {
    padding: 0;
    line-height: 30px;
  }

  .third-section {
    text-align: center;
    line-height: 35px;
    padding: 50px 30px;
    background-color: rgba(255, 255, 255, 0.95);
    font-weight: 700;
    color: #333;
  }
}
